<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kysymyspankki</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Kysymykset</h1>
        
        <ul>
            <li th:each="arvo : ${kysymykset}">
                <span th:text="${arvo}"> lista </span>
                <h2> Kysymys: </h2>           
                <h2 th:text="${arvo.kysymysteksti}"></h2>
                <form method="POST" th:action="@{~/poista/{id}(id=${arvo.id})}">
                    <input type="submit" value="Poista"/>
                </form>
                <p>    </p>
                <form method="POST" th:action="@{~/kyssari/{id}(id=${arvo.id})}">
                    <input type="submit" value="Vastausvaihtoehdot"/>                 
                </form>
                <p>    </p>
            </li>
            
        </ul>
        
        
        <h2> Luo uusi kysymys: </h2>
        <form method="POST" action="/kysymykset">
            Kurssi:<br/>
            <input type="text" name="kurssi"/><br/>
            Aihe:<br/>
            <input type="text" name="aihe"/><br/>
            Kysymys:<br/>
            <input type="text" name="kysymysteksti"/><br/>
            <p>    </p>
            <input type="submit" value="Lisää kysymys"/>
        </form>
    </body>
</html>
