<!DOCTYPE html>

<html>
    <head>
        <title>Vastausvaihtoehdot</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 th:each="kysymys: ${kysymykset}"> 
            <span th:text="${kysymys.kysymysteksti}"></span>
        </h1>
        
        <ul>
            <li th:each="vastaus: ${vastaukset}">
                <span th:text="${vastaus.vastausteksti}"></span>
                <span> | </span>
                <span th:text="${vastaus.oikein}"></span>
                <form method="POST" th:action="@{~/poistava/{id}(id=${vastaus.id})}">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
            
        </ul>
        <h2> Luo uusi vastaus: </h2>
        <ul>
            <li th:each="kysymys: ${kysymykset}">              
                <form method="POST" th:action="@{~/vastaukset/{id}(id=${kysymys.id})}">
                    <input type="text" name="vastausteksti"
                           required/><br/>
                    Oikein:
                    <input name="oikein" type="checkbox" value="1"><br/>
                    <input type="submit" value="Lisää vastaus"/><br/>
                </form>
            </li>
        </ul>
        <form method="POST" action="/palautus">           
            <input type="submit" value="Palaa takaisin"/>
        </form>
    </body>
</html>
